server:
  port: 8111

spring:
  application:
    name: LeadManagement

  datasource:
    url: jdbc:mysql://localhost:3306/jpa18?createDatabaseIfNotExist=true
    username: root
    password: ethio2025
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 10  # Send heartbeats every 10s
    lease-expiration-duration-in-seconds: 30  # Remove instance if no heartbeat in 30s